* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input {
    width: 70%;
    height: 40px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #3498db;
}

input:focus {
    outline: none;
}

table {
    width: 80%;
    height: 50%;
    border: 4px solid #e74c3c;
    border-radius: 15px;
}

thead td {
    font-size: 1.8rem;
    background-color: #27ae60;
}

.age {
    padding-left: 20px;
}

.name {
    text-align: left;
}

tbody tr td {
    color: #333;
    font-size: 1.2rem;
    padding-left: 20px;
    border-bottom: 2px solid #f39c12;
    background-color: #ecf0f1;
}